<div class="social-networks">
    <a *ngIf="isBrowser" href="" target="_blank" class="icon twitter" href="https://twitter.com/gi_polygesta">
      <svg cIcon name="cibTwitter" size="sm" title="Twitter Icon"></svg>
    </a>
    <a *ngIf="isBrowser" target="_blank" class="icon linkedin" href="https://www.linkedin.com/in/grupo-de-investigaci%C3%B3n-polygesta-330616263/">
      <svg cIcon name="cibLinkedinIn" size="sm" title="Linkedin Icon"></svg>
    </a>
    <a *ngIf="isBrowser" target="_blank" class="icon instagram" href="https://www.instagram.com/gi_polygesta/">
      <svg cIcon name="cibInstagram" size="sm" title="Instagram Icon"></svg>
    </a>
    <a *ngIf="isBrowser" target="_blank" class="icon mail" href="mailto:polygesta_med@unal.edu.co">
      <i class="bi bi-envelope-fill"></i>
    </a>
  </div>
  