header {
  padding: 10px;
  background: #195750;
}

.logo {
  width: 90px;
  padding: 0;
}

.logo:hover {
  cursor: pointer;
}

.desktop_menu {
  margin-top: 24px;
  
}

.desktop_menu ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: end;
}

.desktop_menu ul li {
  list-style-type: none;
  color: white;
  display: inline-block;
  font-size: 18px;
  margin-left: 26px;
}

.desktop_menu ul li:hover, .desktop_menu ul li.active {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #36cb5b;
  transition: 0.2s ease-in-out;
}

.row {
display: flex;
align-items: center;
justify-content: space-between;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 765px) {
  .nav {
    display: flow-root;
  }
  .desktop_menu {
    background: #195750;
    position: fixed !important;
    right: -280px;
    transition: 0.4s ease-in-out;
    top: 64px;
    width: 280px;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .desktop_menu ul {
    display: flow-root;
    flex-direction: column;
    width: 100%;
  }

  .desktop_menu ul li {
    display: block;
    text-align: left;
    margin: 0;
    padding: 10px 26px;
    width: 100%;
    border-bottom: 1px solid grey;
  }

  .menu-icon {
    display: block;
    color: white;
    font-size: 40px;
    padding-top: 10px;
  }

  .mobile_menu {
    right: 0;
    transition: 0.4s ease-in-out;
  }
}
