<header>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-3 col-sm-3 col-3">
        <div class="logo">
          <img (click)="navigate('/home')" src="../../../assets/image/main_logo.jpg" alt="Logo Polygesta" class="logo">
        </div>
      </div>
      <div class="col-md-9 col-sm-9 col-9 text-end">
        <div class="menu-icon d-md-none" (click)="openMenu()">
          <i class="bi" [ngClass]="menu_icon"></i>
        </div>
        <div class="desktop_menu d-none d-md-block">
          <ul class="nav">
            <li class="nav-item" [ngClass]="{'active': isActive('/home')}" (click)="navigate('/home')">INICIO</li>
            <li class="nav-item" [ngClass]="{'active': isActive('/about-us')}" (click)="navigate('/about-us')">¿QUIÉNES SOMOS?</li>
            <li class="nav-item" [ngClass]="{'active': isActive('/project')}" (click)="navigate('/project')">PROYECTO</li>
            <li class="nav-item" [ngClass]="{'active': isActive('/contact-us')}" (click)="navigate('/contact-us')">CONTÁCTANOS</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<ng-template #content let-offcanvas class="offcanvas1">
  <div class="offcanvas-header">
    <h4 class="offcanvas-title">Menú</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body mobile_menu">
    <ul class="nav flex-column">
      <li class="nav-item" [ngClass]="{'active': isActive('/home')}" (click)="navigate('/home')">INICIO</li>
      <li class="nav-item" [ngClass]="{'active': isActive('/about-us')}" (click)="navigate('/about-us')">¿QUIÉNES SOMOS?</li>
      <li class="nav-item" [ngClass]="{'active': isActive('/project')}" (click)="navigate('/project')">PROYECTO</li>
      <li class="nav-item" [ngClass]="{'active': isActive('/contact-us')}" (click)="navigate('/contact-us')">CONTÁCTANOS</li>
    </ul>
  </div>
</ng-template>
