header {
  padding: 10px;
  background: #195750;
}

.logo {
  width: 90px;
  padding: 0;
}

.logo:hover {
  cursor: pointer;
}

.desktop_menu {
  margin-top: 24px;
}

.desktop_menu ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: end;
}

.desktop_menu ul li {
  list-style-type: none;
  color: white;
  display: inline-block;
  font-size: 18px;
  margin-left: 26px;
}

.desktop_menu ul li:hover, .desktop_menu ul li.active {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #36cb5b;
  transition: 0.2s ease-in-out;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-icon {
  display: none;
}

::ng-deep .offcanvas-custom-width {
  width: auto !important;
  background-color: #195750;
}

.offcanvas-title {
  color: white;
  padding: 10px 26px;
}

.btn-close {
  filter: invert(100%);
}

.mobile_menu ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: end;
}

.mobile_menu ul li {
  text-align: left;
  margin: 0;
  padding: 10px 26px;
  width: 100%;
  border-bottom: 1px solid grey;
  color: white;
  list-style-type: none;
  display: inline-block;
  font-size: 18px;
}

.mobile_menu ul li:hover, .mobile_menu ul li.active {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #36cb5b;
  transition: 0.2s ease-in-out;
}

@media screen and (max-width: 765px) {
  .menu-icon {
    display: block;
    color: white;
    font-size: 40px;
    padding-top: 10px;
  }

  .desktop_menu {
    display: none;
  }
}