<section class="content-section header">
    <h1 class="title">Desarrollo de capacidades para la recuperación, aprovechamiento y transformación de residuos plásticos en comunidades marino-costeras, con incidencia en el fortalecimiento de la cooperación e intercambio de conocimiento entre la Universidad-Empresa-Estado-Sociedad.</h1>
</section>

<section class="content-section tumaco-section">
    <h2>¡Conozcamos San Andrés de Tumaco!</h2>
    <div class="row location-group">
        <div class="col-6 location">
            <h4>Ubicación geográfica</h4>
            <img src="../../../assets/image/maps/map1.png" alt="mapa-ubicacion">
        </div>
        <div class="col-6 info-cards">
            <div class="info-card">
                <p>Es el municipio más grande del departamento de Nariño, su extensión es de 3.778 km2 y corresponde al 11,46% del área del departamento (DNP, 2016).</p>
            </div>
            <div class="info-card">
                <p>Su casco urbano se expande en la zona continental e insular y conecta a las islas Tumaco, La Viciosa y el Morro (DANE, 2018).</p>
            </div>
            <div class="info-card">
                <p>Su población es de 221.469 habitantes (DANE, 2018).</p>
            </div>
        </div>
    </div>


        <div class="row location-group">
            <div class="col-6 location">
                <h4>Condiciones socio económicas</h4>
                <img src="../../../assets/image/tumaco/20230922_085857 (1).jpg" alt="Imagen Tumaco casas palafíticas">
            </div>

            <div class="col-6 info-card">

    <div class="info-card">
        <p>El 54,8% de los adultos mayores de 18 años no terminan su ciclo escolar (Castillo, 2021).</p>
    </div>
    <div class="info-card">
        <p>El servicio de alcantarillado subre solo el 9% del territorio, el acueducto tiene una cobertura menor o igual al 15% de la población y se tiene 1 hospital de nivel I y 64 instituciones de educación pública (DANE, 2022; UNGRD 2016).</p>
    </div>
    <div class="info-card">
        <p>El Índice de Pobreza Multidimensional IPM alcanza el 63% en zonas rurales dispersas y centro poblados y es del 45,8% en la cabecera municipal (DANE, 2018).</p>
    </div>
</div>
</div>

</section>

<div class="goals-section">
    <h1>Nuestros objetivos</h1>
    <div class="goals">
        <div class="goal">
            <div class="goal-number goal-1">
                <h3 class="m-0">1</h3>
            </div>
            <p>Desarrollar procesos de análisis y valoración de los impactos de los residuos plásticos en ecosistemas marinos-costeros utilizando como referencia guías y estándares técnicos/normativos en áreas priorizadas de San Andrés de Tumaco.</p>
        </div>
    
        <div class="goal">
            <div class="goal-number goal-2">
                <h3 class="m-0">2</h3>
            </div>
            <p>Fortalecer el marco legal e institucional para el ejercicio de la gobernanza y gobernabilidad en la gestión adecuada de los residuos plásticos, que articule los diferentes actores de la comunidad, así como sus capacidades y conocimientos, mediante recomendaciones de política pública.</p>
        </div>
    
        <div class="goal">
            <div class="goal-number goal-3">
                <h3 class="m-0">3</h3>
            </div>
            <p>Mejorar los procesos de apropiación social del conocimiento científico y socio-tecnológico para la recuperación y aprovechamiento de residuos plásticos, que promuevan el desarrollo productivo local, identificando y fortaleciendo iniciativas con criterios de innovación, crecimiento verde y economía circular.</p>
        </div>
    </div>
</div>

<section class="graphics col-12">
    <div class="graphic-row">
        <div class="col column">
            <div class="goal-number card-goal goal-1">
                <h3 class="m-0">1</h3>
            </div>
            <div class="row images-row">
                <img src="../../../assets/image/tumaco/graphics/reports/1.png" alt="tumaco-1">
                <img src="../../../assets/image/tumaco/graphics/reports/2.png" alt="tumaco-2">
                <img src="../../../assets/image/tumaco/graphics/reports/3.png" alt="tumaco-3">
            </div>
        </div>
    </div>

    <div class="graphic-row row">
        <div class="col column">
            <div class="goal-number card-goal goal-2">
                <h3 class="m-0">2</h3>
            </div>
            <div class="row images-row">
                <img src="../../../assets/image/tumaco/graphics/objectives/1.png" alt="tumaco-1">
                <img src="../../../assets/image/tumaco/graphics/objectives/2.png" alt="tumaco-2">
                <img src="../../../assets/image/tumaco/graphics/objectives/3.png" alt="tumaco-3">
            </div>
        </div>
    </div>
</section>

<section class="carousel-group">
    <h2 class="title">¡Conoce cómo contribuimos a fortalecer los procesos de economía circular en comunidades de ecosistemas marino costeros!</h2>
    <div class="row carousel-row">
        <ngb-carousel
            #carousel
            [interval]="3000"
            [pauseOnHover]="false"
            [showNavigationIndicators]="false"
            [wrap]="true"
            class="ngb-carousel"
        >
            <ng-template ngbSlide *ngFor="let img of slides_left; let i = index">
                <div class="picsum-img-wrapper">
                <img [src]="img.src" alt="home-image" (click)="openModal(img.src)"/>
                </div>
            </ng-template>
        </ngb-carousel>
        <ngb-carousel
            #carousel
            [interval]="3000"
            [pauseOnHover]="false"
            [showNavigationIndicators]="false"
            [wrap]="true"
            class="ngb-carousel"
        >
            <ng-template ngbSlide *ngFor="let img of slides_rigth; let i = index">
                <div class="picsum-img-wrapper">
                <img [src]="img.src" alt="home-image" (click)="openModal(img.src)" />
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</section>

<ng-template #content let-modal>
    <div class="modal-header">
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body custom-modal-body">
      <img [src]="currentImageSrc" alt="Enlarged image" class="img-fluid custom-modal-img" />
    </div>
</ng-template>

<section class="button-section">
    <button type="button" class="btn btn-primary" (click)="navigate('/contact-us')">¿Tienes alguna duda acerca de nuestro proyecto o deseas contactarnos? </button>
</section>


