<div class="home-header">
  <div class="carousel">
    <ngb-carousel
      #carousel
      [interval]="3000"
      [pauseOnHover]="false"
      [showNavigationIndicators]="false"
      [wrap]="true"
      class="ngb-carousel"
    >
      <ng-template ngbSlide *ngFor="let img of images; let i = index">
        <div class="picsum-img-wrapper">
          <img [src]="img.src" alt="home-image" />
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  
  <div class="title-button">
    <div class="column">
        <h2>Desarrollo de capacidades para la recuperación, aprovechamiento y transformación de residuos plásticos en comunidades marino-costeras</h2>
        <h4>con incidencia en el fortalecimiento de la cooperación e intercambio de conocimiento entre la Universidad-Empresa-Estado-Sociedad.</h4>
    </div>
    <i class="bi bi-box-arrow-up-right"></i>
  </div>
</div>

<div class="title">
  <p>Este proyecto fue desarrollado en el marco de la Convocatoria Nacional para el Fomento de Alianzas Estratégicas Interdisciplinarias que articulen los Procesos Misionales de la Universidad Nacional de Colombia 2022-2024.</p>
  <p>Impactamos directamente a la comunidad de San Andrés de Tumaco.</p>
</div>
<div class="allied-group">
    <h2>Aliados</h2>
    <div class="logos-group">
      <div class="logo-rounded">
        <img src="../../../assets/image/logos/logo_unal.png" alt="logo-unal">
      </div>

      <div class="logo-rounded">
        <img src="../../../assets/image/logos/logo_prodeo.png" alt="logo-prodeo">
      </div>

      <div class="logo-rounded navigate" (click)="navigate('https://scienti.minciencias.gov.co/gruplac/jsp/visualiza/visualizagr.jsp?nro=00000000014829')">
        <img src="../../../assets/image/logos/logo_poligesta.png" alt="logo-poligesta">
      </div>

      <div class="logo-rounded navigate" (click)="navigate('https://scienti.minciencias.gov.co/gruplac/jsp/visualiza/visualizagr.jsp?nro=00000000004445')">
        <img src="../../../assets/image/logos/logo_oceanicos.png" alt="logo-oceanicos">
      </div>

      <div class="logo-rounded navigate" (click)="navigate('https://scienti.minciencias.gov.co/gruplac/jsp/visualiza/visualizagr.jsp?nro=00000000007105')">
        <img src="../../../assets/image/logos/logo_GPPT.png" alt="logo-gppt">
      </div>

      <div class="logo-rounded navigate" (click)="navigate('https://scienti.minciencias.gov.co/gruplac/jsp/visualiza/visualizagr.jsp?nro=00000000003781')">
        <img src="../../../assets/image/logos/logo_prospectiva.png" alt="logo-gppt">
      </div>

      <div class="logo-rounded navigate" (click)="navigate('http://www.hermes.unal.edu.co/pages/Consultas/Proyecto.xhtml?idProyecto=49014')">
        <img src="../../../assets/image/logos/logo_cpaepc.png" alt="logo-cpaepc">
      </div>
      <div class="logo-rounded navigate" (click)="navigate('https://scienti.minciencias.gov.co/gruplac/jsp/visualiza/visualizagr.jsp?nro=00000000001546')">
        <img src="../../../assets/image/logos/logo_probiom.png" alt="logo-probiom">
      </div>
    </div>
</div>
<div class="images-group row">
  <div class="column col-4">
    <img src="../../../assets/image/home/home1.png">
    <img src="../../../assets/image/home/home9.png">
  </div>
  <div class="col-4">
    <img src="../../../assets/image/home/home2.png">
  </div>
  <div class="column col-4">
    <img src="../../../assets/image/home/home7.png">
    <img src="../../../assets/image/home/home5.png">
  </div>
</div>


  